# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app

# cache/backup
*~

#target
nitro

#KDevelop files
*.kdev4

# python
__pycache__
*.pyc

# memory dump
*.raw

# libnitro cmake build dir
libnitro/_build

# virtualenv
venv/

# rekall cache
rekall_cache/
