Source: nitro
Maintainer: Mathieu Tarral <mathieu.tarral@protonmail.com>
Section: python
Priority: optional
Build-Depends: python3-setuptools,
               python3-all,
               python3-cffi,
               debhelper (>= 9),
X-Python3-Version: >= 3.4
Standards-Version: 3.9.4
Vcs-Browser: https://github.com/KVM-VMI/nitro
Vcs-Git: git@github.com:KVM-VMI/nitro.git

Package: python3-nitro
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-docopt,
         python3-libvirt,
         python3-cffi,
         python,
         python3-psutil,
         python-docopt,
Description: Syscall interception library
  Nitro allows you to monitor your virtual machines using vmi techniques to
  intercept every system call and analyze them
